:root {
  --background: #171717;
  --foreground: #dddddd;
  --warning: #ff0000;
  --pressed: #6e6e6e;
  --buttonPadding: 10px;
  --buttonMargin: 10px;
  --titleMargin: 44px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 6px 0;
  padding: 6px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

textarea {
  font-family: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: var(--titleMargin);
  align-self: center;
}

.header {
  font-size: 1.25rem;
  color: var(--foreground);
  font-weight: bold;
}

.text {
  font-size: 1rem;
  color: var(--foreground);
}

.input {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  padding: var(--buttonPadding);
  margin-bottom: var(--buttonMargin);
}

.button {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  cursor: pointer;
  padding: var(--buttonPadding);
  background-color: var(--background);
  color: var(--foreground);
  font-size: 1rem;
}

.button:active {
  opacity: 0.5;
}

.homeButton {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  cursor: pointer;
  padding: var(--buttonPadding);
  width: 100%;
  margin: 6px;
  align-self: stretch;
  font-size: 1rem;
}

.homeButton:active {
  opacity: 0.5;
}

.listButton {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  cursor: pointer;
  padding: var(--buttonPadding);
  width: 100%;
  margin: 6px;
  font-size: 1rem;
  background-color: var(--background);
}

.listButton:active {
  opacity: 0.5;
}

.listElement {
  border: 1px solid var(--foreground);
  border-radius: 4px;
  padding: var(--buttonPadding);
  width: 100%;
  margin: 6px;
  font-size: 1rem;
  background-color: var(--background);
}

.error {
  color: #ff0000;
  margin-top: var(--titleMargin);
  font-size: 1rem;
}

.homeCategory {
  align-self: stretch;
  padding: 10px 10px;
}

.label {
  margin-top: 16px;
  margin-left: 40px;
  font-size: 1.5rem;
}